body,
html {
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
 
  background: url(header.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1 {
  font-size: 3rem;
  margin: 20px auto;
  color: #da00ffcf;
  border: 3px soild #da00ffcf;
  opacity: 1;
}


.btn {
  font-weight: 700;
  border-radius: 300px;
  text-transform: uppercase;
}

.btn-xl {
  padding: 1rem 2rem;
}

.btn-primary {
  background-color: #8A458A ;
  border-color: purple;
  border-width: 3px;
  cursor: pointer;

}

.btn-primary:hover {
  background-color: #420029;
  border: #420029;
  border-width:10px;
}

hr {
  border-color: #C785AE;
  border-width: 3px;
  max-width: 75px;
  margin: 15px auto;
  margin-top: 20px;
}

.buffer {
  height: 11rem;
}